.parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0rem 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1700px;
  min-height: 400px;
  width: 100%;
}

.categories {
  display: flex;
  justify-content: space-between;
  font-family: 'Anonymous Pro', sans-serif;
  font-size: .8rem;
  color:rgb(50, 50, 50);
  margin-bottom: .2rem;
}

.cat1 {
  width: 330px;
}

.cat2 {
  width: 178px;
}

.cat2 {
  width: 178px;
}

.cat3 {
  text-align: end;
  width: 90px;
}

.divider {
  border: 1px solid rgb(167, 167, 167);
  border-top: none;
  margin-bottom: 1rem;
  margin-bottom: 2rem;
}

.cart_container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.header {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  padding-bottom: .25rem;
}

.desc {
  font-family: 'Anonymous Pro', sans-serif;
}

.cart_flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 1rem;
}

.section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 330px;
}

.section_2 {
  display: flex;
}

.section_3 {
  display: flex;
  align-items: center;
  font-family: 'Anonymous Pro', sans-serif;
  width: 90px;
  height: 35px;
}

.section_3 div {
  margin-left: auto;
}

.section img {
  max-width: 200px;
  height: auto;
}

.quantity {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  height: 35px;
  padding: 0rem 1.5rem;
  outline: 1px solid black;
}

.quantity span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}

.quantity button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background: none;
  border: none;
  color: black;
  outline: none;
  box-shadow: none;
}

.bin {
  cursor: pointer;
  height: 35px;
  align-content: center;
  padding: 0rem 1rem;
}

.chsec {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkout {
  align-self: flex-end;
  font-family: 'Anonymous Pro', monospace;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  width: 100%;
  height: 45px;
  outline: 1px solid black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: transform 0.1s ease-in;
}

.checkout:hover {
  transform: scale(1.03);
}


.chout {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.chout_header {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(50, 50, 50);
}

.chout_total {
  margin-top: auto;
  padding-left: 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: rgb(50, 50, 50);
}

.chout_desc {
  text-align: end;
  font-family: 'Anonymous Pro', sans-serif;
  font-size: 1rem;
  color: rgb(77, 77, 77);
}

/* quantity in section */
.quant {
  display: none;
}

.quant_section {
  display: none;
  margin-top: 0.5rem;
}

@media (max-width: 47rem) {
  .parent {
    padding: 1rem;
  }

  .cat1 {
    width: 240px;
  }
  
  .cat2 {
    width: 162px;
  }

  .section {
    width: 240px;
    gap: 1rem;
  }

  .header {
    font-size: 1rem;
  }

  .section img {
    height: 100px;
    width: auto;
  }

  .quantity {
    height: 35px;
    padding: 0rem 1.5em;
    gap: .5rem;
  }

}

@media (max-width: 34rem) {

  .cat2 {
    display: none;
  }

  .section_3 {
    display: block;
    text-align: end;
  }
  
  .section_3 div {
    margin-left: none;
  }
  

  .section_2 {
    display: none;
  }

  .quant {
    display: flex;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    height: 35px;
    padding: 0rem 1.5rem;
    outline: 1px solid black;
  }
  
  .quant span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
  }
  
  .quant button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background: none;
    border: none;
    color: black;
    outline: none;
    box-shadow: none;
  }
  
  .quant_section {
    display: flex;
  }

  .bin img {
    width: 16px;
    height: auto;
  }

  .chout_desc {
    text-align: center;
    font-size: .9rem;
  }
  
  .checkout {
    align-self: center;
  }
}

@media (max-width: 24rem) {

  .quant {
    gap: .75rem;
    padding: 0rem .5rem
  }
  
  .bin {
    height: 35px;
    align-content: center;
    padding: 0rem 0.5rem
  }

}


