:root {
  --secondary-col: #323232;
  --footer-col: rgb(173, 173, 173);
  --dark-col: #020912;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;  /* Removes underline */
  color: inherit;         /* Makes the link inherit the text color of the parent element */
  color: black;
}