/* FOOTER */
.footer {
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--dark-col);
  height: 100vh;
}

.footer_flex_container {
  display: flex;
  gap: 5rem;
  padding-bottom: 2rem;
  justify-content: space-between;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

.footer_title {
  color: white;
  font-family: Poppins, sans-serif;
  padding-bottom: 1rem;
  font-size: 1.35rem;
}

.footer_column {
  min-width: 150px;
  max-width: 350px;
}

.footer .footer_column ul li {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1rem;
  color: var(--footer-col);
  list-style: none;
  padding-bottom: 0.85rem;
}

.footer .footer_column ul li:hover {
  color: white;
}

.footer_column p {
  font-family: 'Anonymous Pro', monospace;
  color: var(--footer-col);
  font-size: 1rem;
}

.mobile_menu_icon_3 {
  display: flex;
  justify-content: flex-end;
}

.footer_image_holder {
  display: grid;
}

.mobile_menu_icon_3 img {
  width: 110px;
  height: auto;
  filter: invert(1);
}

.insert_email {
  position: relative;
  display: flex;
  flex-direction: column; /* Added this line */
}

.input_field {
  background-color: var(--dark-col);
  border: none;
  color: white;
  font-family: 'Anonymous Pro', monospace;
  font-size: 1rem;
  padding: 1rem;
  padding-top: 1.5rem;
  min-width: 300px;
  border: none;
  outline: 1px solid var(--footer-col);
}

.label {
  font-family: 'Anonymous Pro', monospace;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  color: gray;
  font-size: 1rem;
  pointer-events: none;
}

.input_field:focus + .label,
.input_field:not(:placeholder-shown) + .label {
  top: 14px;
  left: 1rem;
  font-size: 0.7rem;
  color: white;
}

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
}

.social_item {
  width: 15px;
  height: 15px;
  transition: transform 0.1s ease-in-out;
}

.social_item:hover {
  transform: scale(1.25);
}

.footer_icon {
  filter: invert(1);
  width: 100%;
}

.footer_icon_2 {
  width: 100%;
}

.newsletter_update {
  margin-top: 1rem;
  position: absolute;
  text-align: left;
  color: white;
  font-family: 'Anonymous Pro', monospace;
  font-size: 0.9rem; 
}

@media (max-width: 47rem) {
  /* FOOTER */
  .footer {
    padding: 1rem;
    padding-top: 2rem;
  }

  .footer_flex_container {
    flex-direction: column;
    gap: 2rem;
  }

  .footer_column {
    max-width: 550px;
  }

  .mobile_menu_icon_3 {
    justify-content: center;
    padding-top: 0.5rem;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Make the container relative */
  }

  .insert_email {
    min-width: none;
    width: 100%;
    margin-bottom: 1rem;
  }

  .newsletter_update {
    position: static;
    margin-top: 1rem;
  }

  .socials {
    display: flex;
    justify-content: center;
  }
}
