/* FOOTER */
.footer {
  margin-top: 2rem;;
  padding: 2rem;
  background-color: var(--dark-col);
}

.footer-flex-container {
  display: flex;
  gap: 5rem;
  padding-bottom: 2rem;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer-title {
  color: white;
  font-family: Poppins, sans-serif;
  padding-bottom: 1rem;
  font-size: 1.1rem;;
}

.footer-column {
  min-width: 150px;
  max-width: 350px;
}

.footer .footer-column ul li {
  font-family: 'Anonymous Pro', monospace;
  font-size: 0.8rem;;
  color: var(--footer-col);
  list-style: none;
  padding-bottom: 0.85rem;
}

.footer .footer-column ul li:hover {
  color: white;
}

.footer-column p {
  font-family: 'Anonymous Pro', monospace;
  color: var(--footer-col);
  font-size: 0.8rem;
}

.mobile-menu-icon-3 {
  display: flex;
  justify-content: flex-end;
}

.footer-image-holder {
  display: grid;
}

.mobile-menu-icon-3 img{
  width: 110px;
  height: auto;
  filter: invert(1);
}

.insert-email {
  display: flex;
  min-width: 300px;
  height: 40px;
  outline: 1px solid var(--footer-col);
}

.insert-email p {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
  font-family: 'Anonymous Pro', monospace;
  font-size: 0.8rem;;
  color: var(--footer-col);
}

.email-icon {
  height: 16px;
  width: 16px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 1rem;
}

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
}

.social-item {
  width: 15px;
  height: 15px;
  transition: transform 0.1s ease-in-out;
}

.social-item:hover {
  transform: scale(1.25);
}

.footer-icon {
  filter: invert(1);
  width: 100%;
}

.footer-icon-2 {
  width: 100%;
}

@media (max-width: 43rem) {

  /* FOOTER */
  .footer {
    padding: 1rem;
  }

  .footer-flex-container {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-column {
    max-width: 550px;
  }

  .mobile-menu-icon-3 {
    justify-content: center;
    padding-top: 0.5rem;;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .insert-email {
    min-width: none;
    width: 100%;
  }

  .socials {
    display: flex;
    justify-content: center;
  }

}