.flex_padding {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
}

.container {
  outline: 1x solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
}

.card_container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card {
  /* border: 1px solid red; */
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(25% - 1rem); /* Adjust width based on number of cards and gap */
}

.card img {
  width: 100%; /* Ensure the image fills its container */
  overflow: hidden; /* Hide the overflow */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Prevent image overflow */
  transition: transform .25s ease;
}

.card:hover .chead {
  text-decoration: underline;
}

/* .card img:hover {
  transform: scale(1.05);
} */

.card:hover img {
  transform: scale(1.05); /* Enlarge the image when hovering over the card */
}

.title {
  font-family: 'Poppins', monospace;
  font-size: 2rem;
}

.chead {
  font-family: 'Poppins', monospace;
  font-size: 1rem;
  font-weight: normal;
  padding: 1rem;
}

.cdesc {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1rem;
  color: var(--secondary-col);
  padding-bottom: 1.5rem;
}


@media (max-width: 44rem) {
  .card_container {
    flex-wrap: wrap;
    height: auto;
  }

  .card {
    width: calc(50% - 1rem); /* Two cards per row */
  }

  .flex_padding {
    padding: 1rem;
  }

}

