.flex_padding {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.container {
  display: flex;
  justify-content: center;
}

.card_container {
  /* outline: 1px solid black; */
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  max-width: 1200px;
}

.card {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(25% - 1rem); /* Adjust width based on number of cards and gap */
}

.card img {
  width: 100%; /* Ensure the image fills its container */
  overflow: hidden; /* Hide the overflow */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Prevent image overflow */
  transition: transform .25s ease;
}

.card img:hover {
  transform: scale(1.05);
}

.title {
  font-size: 1rem;
}

.chead {
  font-family: 'Poppins', monospace;
  font-size: 1rem;
  font-weight: normal;
  padding: 1rem;
}

.cdesc {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1rem;
  color: var(--secondary-col);
  padding-bottom: 1.5rem;
}


@media (max-width: 44rem) {
  .card_container {
    flex-wrap: wrap;
    height: auto;
  }

  .card {
    width: calc(50% - 1rem); /* Two cards per row */
  }

  .flex_padding {
    padding: 1rem;
  }

}

