/* src/app/components/Latest.module.css */

.flex-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.latest-child {
  max-width: 1200px;
  width: 100%;
  border: 1px solid black;
}

@media (max-width: 43rem) {
  .latest-parent {
    padding: 1rem;
  }
}