@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Poppins:wght@300;400&display=swap');

.menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_container:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav_icon {
  width: 1.25rem;
  transition: transform 0.1s ease-in-out;
}

.nav_icon_2 {
  width: 1.45rem;
  transition: transform 0.1s ease-in-out;
}

.nav_icon:hover,
.nav_icon_2:hover {
  transform: scale(1.1);
}

.mobile_menu_icon {
  display: none;
}

.mobile_menu_icon_2 {
  /* border: 1px solid red; */
  width: 104px;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: auto;
  gap: 1.00rem;
  margin-left: auto;
}

.nav {
  padding: 2rem;
  background-color: white;
}

.nav_container {
  display: flex;
  margin: auto;
  justify-content: left;
  max-width: 1400px;
}

.nav_container a {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.nav_container a:hover {
  text-decoration: underline;
}

.nav_container ul {
  font-family: 'Anonymous Pro', monospace;
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
  color: black;
}

.logo {
  width: 9rem;
  padding-right: 2rem;
}

.chevron {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chevron img {
  width: 0.6rem;
  height: 0.6rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

@media (max-width: 47rem) {
  .mobile_menu_icon {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 104px;
  }

  .mobile_menu_icon_2 {
    margin-left: 0px;
  }

  .nav {
    padding: 1rem;
  }

  .nav_container ul {
    display: none;
  }
  
  .nav_icon_2 {
    display: none;
  }

  .nav_container {
    justify-content: space-between;
  }

  .logo {
    padding: 0rem;
  }

  .list_svg {
    width: 1.5rem;
    transition: transform 0.1s ease-in-out;
  }

  .list_svg:hover {
    transform: scale(1.1);
  }
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1rem;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown button img {
  width: .6rem;
  padding: .25rem;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 155px;
  border: 2px solid black;
  z-index: 1;
  padding: 1rem 0.5rem;
  top: 30px; /* Adjust the top position */
}

.dropdown_content a {
  color: black;
  padding: 0.5rem;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  text-decoration: none;
}
