@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Poppins:wght@300;400&display=swap');

/* NAV  */

.nav_icon {
  width: 1.25rem;
  transition: transform 0.1s ease-in-out;
}

.nav_icon_2 {
  width: 1.45rem;
  transition: transform 0.1s ease-in-out;
}

.nav_icon:hover {
  transform: scale(1.05);
}

.nav_icon_2:hover {
  transform: scale(1.05);
}

.menu_item {
  text-decoration: none;
  color: inherit;
  cursor: pointer; 
}

.menu_item:hover {
  color: black;
}


.mobile_menu_icon {
  display: none;
}

.mobile_menu_icon_2 {
  /* border: 1px solid red; */
  width: 104px;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: auto;
  gap: 1.25rem;
  margin-left: auto;
}

.nav {
  padding: 2rem;
  background-color: white;
}

.nav_container {
  display: flex;
  margin: auto;
  justify-content: left;
  max-width: 1200px;
}

.nav_container a {
  display: flex;
}

.nav_container ul {
  font-family: 'Anonymous Pro', monospace;
  display: flex;
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
  gap: 1rem;
  color: var(--secondary-col);
}

.logo {
  width: 9rem;
  padding-right: 2rem;
}

@media (max-width: 44rem) {
  /* NAV */
  .mobile_menu_icon {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 104px;
  }

  .mobile_menu_icon_2 {
    margin-left: 0px;
  }

  .nav {
    padding: 1rem;
  }

  .nav_container ul {
    display: none;
  }
  
  .nav_container {
    justify-content: space-between;
  }

  .logo {
    padding: 0rem;
  }

  .list_svg {
    width: 1.5rem;
    transition: transform 0.1s ease-in-out;
  }

  .list_svg:hover {
    transform: scale(1.1);
  }
}