.flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
}

.product_container {
  max-width: 1700px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 3rem;
}

.product {
  width: 35%;
}

.product img {
  width: 100%;
}

.product_details {
  display: flex;
  flex-direction: column;
  /* outline: 1px solid red; */
  width: 65%;
}

.title {
  font-family: 'Poppins', monospace;
  font-size: 2rem;
  padding-bottom: 1.0rem;
}

.desc_price {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.25rem;
  color: var(--secondary-col);
  padding-bottom: 1rem;
}

.desc {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.10rem;
  color: var(--secondary-col);
  letter-spacing: 0.025rem;
  padding-bottom: 1rem;
}
.add_to_cart {
  font-family: 'Anonymous Pro', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  width: 100%;
  height: 65px;
  outline: 1px solid black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.buy_now {
  font-family: 'Anonymous Pro', monospace;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  width: 100%;
  height: 65px;
  outline: 1px solid black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.amount {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 125px;
  width: 100%;
  height: 45px;
  outline: 1px solid black;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
}

.valpar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
}

.value {
  font-family: 'Poppins', monospace;
}

.miscdesc {
  font-family: 'Anonymous Pro', monospace;
  color: var(--secondary-col);
  font-size: 1rem;
  cursor: pointer;
}

.share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
}

.share img {
  width: .75rem;
  padding-right: .5rem;
}

@media (max-width: 47rem) {
  .flex_container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .product_container {
    gap: 2rem;
   }

   .add_to_cart {
    max-width: none;
    width: 100%;
  }

  .buy_now {
    max-width: none;
    width: 100%;
  }

  
 }

@media (max-width: 42rem) {
 .product_container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
 }

 .product_details {
  width: 100%;
 }

  .product {
  width: 100%;
  }
}

/* share */

.copiedPopup {
  font-family: 'Anonymous Pro', sans-serif;
  position: fixed;
  top: 1rem;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust to exactly center */
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  animation: fadein 0.5s, fadeout 0.5s 1.5s;
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

.disabled {
  opacity: 0.75;
  cursor: not-allowed;
}